<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carnival.matchcube.mapper.AreaMapper">

    <select id="getValidArea" parameterType="com.carnival.matchcube.dto.AreaDTO" resultType="com.carnival.matchcube.dto.AreaCodeValidDTO">
        SELECT EXISTS(SELECT * FROM si_gun_gu WHERE code = #{code}) as exist;
    </select>

    <select id="getArea" resultType="com.carnival.matchcube.dto.AreaValueDTO">
        SELECT code,name
        FROM   si_gun_gu
        WHERE  code BETWEEN 11 AND 41
        ORDER BY name;
    </select>

    <select id="getUnderArea" parameterType="com.carnival.matchcube.dto.AreaDTO" resultType="com.carnival.matchcube.dto.AreaValueDTO">
        SELECT code,
               name
        FROM si_gun_gu as sgg
        WHERE code LIKE CONCAT(#{code},'0%');
    </select>

</mapper>