<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carnival.matchcube.mapper.CategoryMapper">

    <select id="category" resultType="com.carnival.matchcube.dto.CategoryValueDTO">
        SELECT category_id,
               category_name,
               image_url
        FROM category
        WHERE status = 1;
    </select>

</mapper>
