<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carnival.matchcube.mapper.LogInMapper">

    <select id="logIn" parameterType="com.carnival.matchcube.dto.LogInDTO" resultType="com.carnival.matchcube.dto.LogInResponseDTO">
        SELECT email_id,
               password,
               account_id,
               name,
               nick_name,
               status
        FROM   account
        WHERE  email_id = #{emailId};
    </select>

</mapper>