<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.carnival.matchcube.mapper.TeamMapper">

    <select id="isDuplicateTeamName" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.ValidDTO">
        SELECT EXISTS(SELECT * FROM team WHERE category_id = #{category} AND team_name = #{name}) as exist;
    </select>

    <select id="isSameImage" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.ValidDTO">
        SELECT EXISTS(SELECT * FROM team_image WHERE team_image_url = #{URL}) as exist;
    </select>

    <select id="insertImage" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.TeamValueDTO">
        INSERT INTO team_image(team_id, team_image_url) VALUES (((SELECT MAX(team_id) FROM team) + 1), #{URL});
    </select>

    <select id="makeTeam" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.TeamValueDTO">
        INSERT INTO team(category_id, team_name, team_area, team_introduction, uniform, team_leader_id, team_vehicle,
                            membership_fee, membership_per, representative_image_id)
        VALUES(#{category}, #{name}, #{area}, #{introduction}, #{uniform}, #{leader}, #{vehicle}, #{fee}, #{period},
               (SELECT image_id
                FROM team_image
                WHERE team_image_url = #{URL})
                );
    </select>

    <select id="isMatchedTeamId" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.ValidDTO">
        SELECT IFNULL((SELECT IF(ti.image_id = te.representative_image_id, 1, 0)
                       FROM team AS te
                       LEFT JOIN team_image AS ti ON ti.team_id = te.team_id
                       WHERE ti.team_image_url = #{URL}), 0) AS isMatched;
    </select>

    <select id="adjustTeamId" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.TeamValueDTO">
        UPDATE team_image INNER JOIN team ON team_image.image_id = team.representative_image_id
            SET team_image.team_id = team.team_id
        WHERE team_image.team_image_url = #{URL};
    </select>

    <select id="showTeam" parameterType="com.carnival.matchcube.dto.TeamShowDTO" resultType="com.carnival.matchcube.dto.TeamValueDTO">
        SELECT *
        FROM team
        WHERE category_id = #{categoryId}
        AND team_location = #{teamLocation};
    </select>

    <select id="getMoreMyTeamInfo" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.TeamValueDTO">

    </select>

    <select id="editTeamInfo" parameterType="com.carnival.matchcube.dto.TeamDTO" resultType="com.carnival.matchcube.dto.TeamValueDTO">

    </select>

</mapper>