<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--UserDAO와 연결-->
<mapper namespace="com.carnival.matchcube.mapper.UserMapper">

    <select id="selectData" resultType="hashMap">
        SELECT *
        FROM   mc_acnt_info;
    </select>

    <select id="pselectData" parameterType="hashMap" resultType="hashMap">
        SELECT *
        FROM   mc_acnt_info
        WHERE  acnt_id = #{acntId}
        AND    email_id = #{emailId};
    </select>

    <insert id="pinsert" parameterType="hashMap">
        INSERT INTO mc_login_log
        (acnt_id  , login_sect_code, prce_dt)
        VALUES
        (#{acntId}, '1'            , CURRENT_TIMESTAMP);
    </insert>

</mapper>